
body {
  background-color: #347B98;
}

#bu1 {
  
  border-width: thick;
  background-color: #092834;
  color: white;
  border-color: #67AFCB;
}

#title {
  font-family: helvetica;
  font-weight: 3000;
  border-radius: 15%;
  display: inline-flex;
}
